.container {
    display: flex;
    flex-direction: block;
    background-color: rgb(0, 128, 255);
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    padding-top: 5%;
}

.text-container {
    text-align: center;
    width: 600px;
    height: 70%;
    color: rgb(0, 128, 255);
    padding: 50px;
    text-align: left;
    margin: 3rem auto 0px;
    background-color: white;
    border-radius: 5%;
}

.title {
    font-size: 70px;
}

.description {
    line-height: 40px;
    text-align: left;
    font-size: 25px;
}

image {
    height: 500px;
    border-radius: 50%;
    margin: 3rem auto 0px;
}

.button-container {
    display: flex;
    flex-direction: grid;
    justify-content: space-between;
    margin-top: 1rem;
}
